<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpg" %>
  </div>

  <div id="content">
    <h1> It's Mr. Stick Figure </h1>
    <p>Lorem ipsum dolor amet 3 wolf moon cliche pickled farm-to-table everyday carry asymmetrical
     swag aesthetic pop-up PBR&B narwhal pabst shaman. Truffaut heirloom hashtag, put a bird on it
      woke cronut pug jianbing asymmetrical. La croix iPhone mlkshk celiac cronut dreamcatcher.
       Cold-pressed migas neutra chambray, yuccie edison bulb live-edge jean shorts iPhone unicorn tbh trust fund.
        Man braid pug cray ugh affogato. Neutra cred hashtag dreamcatcher vice trust fund gochujang +1.</p>
  </div>
</div>